<%- include('partials/header') -%>


        <div class="h-screen row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>

                <div class="max-w-lg mx-auto">

                    <h2 class="text-center text-gray-800 text-xl font-bold tracking-normal leading-tight mb-4">Daily Check-In Assessment</h2>

                <form action="/checkin" method="POST">
                    <div class="mb-6">
                        
                    <label class="text-sm font-medium text-gray-900 block mb-2" for="name">Name:</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" type="text" name="name" id="name" value="<%=user.userName%>"  required>
                    </div>

                    <div class="mb-6">
                        <label class="text-sm font-medium text-gray-900 block mb-2" for="cough">Cough</label>
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="cough" id="cough">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                            <option value="improving">Improving</option>
                        </select>
                    </div>
                    <!-- OR -->
                    <div class="mb-6">
                        <label class="text-sm font-medium text-gray-900 block mb-2" for="sore">Sore Throat</label>
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="sore" id="sore">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>

                    <div class="mb-6">
                        <label class="text-sm font-medium text-gray-900 block mb-2" for="sob">Shortness of Breath</label>
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="sob" id="sob">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                            <option value="Improving">Improving</option>
                        </select>
                    </div>

                    <div class="mb-6">
                        <label class="text-sm font-medium text-gray-900 block mb-2" for="fever">Fever</label>
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="fever" id="fever">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                            <option value="Improving">Improving</option>
                        </select>
                    </div>

                    <div class="mb-6">
                        <label class="text-sm font-medium text-gray-900 block mb-2" for="loss">Loss of Taste/Smell</label>
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="loss" id="loss">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                            <option value="Improving">Improving</option>
                        </select>
                    </div>
<br>
                <div class="flex items-center justify-evenly w-full">
                    <button class="focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-gray-400 ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" type="reset">Reset</button>
                    <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-700 transition duration-150 ease-in-out hover:bg-green-600 bg-green-700 rounded text-white px-8 py-2 text-sm" type="submit">Submit</button>
                </div>

                  </form>
                </div>
            </section>
        </div>
 

<%- include('partials/footer') -%>