<%- include('partials/header') -%>

<div class="container h-screen">

  <div class="relative overflow-hidden bg-white">
    <div class="mx-auto min-h-screen max-w-7xl flex flex-col justify-evenly border">

    <!-- Make side -->




      <!-- Display the countdown timer in an element -->



        
        <!-- PROFILE -->
        
        <div class="card w-96 bg-base-100 shadow-xl h-96">
          <div class="card-body h-full">
            <h2 class="card-title text-center justify-center">Profile</h2>
            <p><strong>Full Name</strong>: <%= user.userName %></p>
            <p><strong>Email</strong>: <%= user.email %></p>
            <p><strong>Symptom Start Date</strong>: <%= countdownStart %></p>
            <p><strong>Isolation End Date</strong>:<span id="endDate"> <%= countdownDate %> </span></p>
            <div class="card-actions justify-content-center">
              <a href="/logout" class="flex w-auto items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Logout</a>
            </div>
          </div>
        </div>
        
          
      
      <div class="col-6">

        

<div style="border: 2px solid black" class="row justify-content-center mt-5">

 
          <h1 class="m-0 text-dark mt-3">Room close in: <span id="timer"></span></h1>
    
  </div>

</div>

      
        <div class="row justify-content-center mt-5">
          <a href="/initial" class="flex w-full items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Start Initial Intake</a>
        </div>
        <div class="row justify-content-center mt-5">
          <a href="/checkin" class="flex w-full items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Add a Daily Check-In</a>
        </div>
        <div class="row justify-content-center mt-5">
          <a href="/checkin" class="flex w-full items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Return to Feed</a>
        </div>  
      </div>  
    </div>
    </div>
  </div>
</div>
</div>


<%- include('partials/footer') -%>