<%- include('partials/header') -%>
<div class="container h-screen">

  <div class="relative overflow-hidden bg-white">
    <div class="mx-auto min-h-screen max-w-7xl flex flex-col justify-evenly border">

     <!-- COUNTDOWN BAR -->
     <div class="flex gap-5 justify-content-center">
      <div>
        <span class="countdown font-mono text-4xl">
          <span style="--value:8;"></span>
        </span>
        days
      </div> 
      <div>
        <span class="countdown font-mono text-4xl">
          <span style="--value:10;"></span>
        </span>
        hours
      </div> 
      <div>
        <span class="countdown font-mono text-4xl">
          <span style="--value:24;"></span>
        </span>
        min
      </div> 
      <div>
        <span class="countdown font-mono text-4xl">
          <span style="--value:36;"></span>
        </span>
        sec
      </div>
    </div>

     <div class="flex flex-row justify-evenly min-h-full">
        
        <!-- PROFILE -->
        
        <div class="card w-96 bg-base-100 shadow-xl h-96">
          <div class="card-body h-full">
            <h2 class="card-title text-center justify-center">Profile</h2>
            <p><strong>Full Name</strong>: <%= user.userName %></p>
            <p><strong>Email</strong>: <%= user.email %></p>
            <p><strong>Symptom Start Date</strong>: <%= user.email %></p>
            <p><strong>Isolation End Date</strong>: <%= user.email %></p>
            <div class="card-actions justify-content-center">
              <a href="/logout" class="flex w-auto items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Logout</a>
            </div>
          </div>
        </div>
        
          
      
      <div class="col-6">
      
        <div class="row justify-content-center mt-5">
          <a href="/initial" class="flex w-full items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Start Initial Intake</a>
        </div>
        <div class="row justify-content-center mt-5">
          <a href="/checkin" class="flex w-full items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Add a Daily Check-In</a>
        </div>
        <div class="row justify-content-center mt-5">
          <a href="/checkin" class="flex w-full items-center justify-center rounded-md border border-transparent bg-green-600 px-8 py-2 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-md">Return to Feed</a>
        </div>  
      </div>  
    </div>
    </div>
  </div>
</div>
</div>


<%- include('partials/footer') -%>